
header,main{
    background-color: rgb(4, 102, 102);
    border: black solid 20px ;
    padding: 35px;
}
body{
    background-color:rgb(228, 218, 218);
    border: green solid 10px ;
}

li{
    display: inline;
    font-size: larger;
    font-weight: bolder;
}
h2 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
}
p{
    padding-right: 20px;
    margin: 25px;
}

div img{
    margin: 25px;
}
a:hover{

    
    color: rgb(255, 255, 255);  
    font-weight: bolder;
    padding: 35px;

}