*{
    background-color: rgb(167, 39, 39);
}
header{
    /* padding: 30px; */
    background-color: rgb(170, 12, 65);
    text-align: center;

}

/* visited link */

a:visited {

color: black;

}
a:hover {

    color: hotpink;
}
a:active {

    color: blue;
}

form{

    border: 20px;
    padding: 10px;
}
body{

    background-color: coral;
}

